<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
<!--    This template will be used to display search results, in addition to displaying the form. -->
<!--    This will give the nice user experience of easily searching multiple times in a row. -->

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

    <div class="job-listing">
        <table th:each="job : ${jobs}">
            <tbody th:each="mapEntry : ${job}">
                <tr>
                    <td th:text="${mapEntry.key}">Key</td>
                    <td th:text="${mapEntry.value}">Value</td>
                </tr>
            </tbody>
        </table>



    </div>

</div>

</body>
</html>